.connect-wallet-btn{
    margin-left: 1350px;
    margin-top: -200px;
    background: #6366f1;
    color: white;
    border: none;
    padding: 0.75rem 1.25rem;
    border-radius: 12px;
    font-weight: bold;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 15px rgba(99, 102, 241, 0.4);
    cursor: pointer;
}
.connect-wallet:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }
  #des {
    color:transparent;
    animation: glow 2s infinite;
    text-shadow: 0 0 0px #ff8c00, 0 0 0px #ff8c00, 0 0 0px #ff4500;
    margin-left: 680px;
    margin-top: 60px;
  }
  
  @keyframes glow {
    0%, 100% {
      text-shadow: 0 0 0px #ff8c00, 0 0 0px #ffa500, 0 0 0px #ff4500;
    }
    50% {
      text-shadow: 0 0 0px #ffd700, 0 0 0px #ff8c00, 0 0 0px #ff4500;
    }
  }
  .signUp{
    background: #6366f1;
    color: white;
    border: none;
    padding: 0.75rem 1.25rem;
    border-radius: 12px;
    font-weight: bold;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 15px rgba(99, 102, 241, 0.4);
    cursor: pointer;
    margin-left: 500px;
    margin-top: 15px;
  }
  #learn{
    margin-left: 500px;
    margin-top: -400px;
    font-size: 25px;
  }
  #desc{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    font-weight: bold;
  }
  .image1{
    margin-left: 990px;
    height: 300px;
    width: 300px;
    margin-bottom: 200px;
  }